<div>
    <h3>
      CPU:
    <mat-slider (input)="onInputChange()" min="10" max="20" step="1" value="10" [(value)]="cpuValue"></mat-slider>
    </h3>
    <h3>
      RAM:
      <mat-slider (input)="onInputChange()" min="100" max="300" step="1" [(value)]="ramValue" ></mat-slider>
    </h3>
    <h3>
      CPU : {{computer.cpu}}%
    </h3>
    <h3>
      RAM : {{computer.ram}}%
    </h3>
  </div>